.chessboard {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.chessboard th {
  padding: 0.5em;
}

.chessboard td {
  border: 1px solid;
  width: 10%;
  height: 50px;
}

.chessboard .white {
  background: #eee;
}
.chessboard .black {
  background: #000;
}

html{
    background-color: orange;
}